<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Datacommons NZ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{{ "/css/styles.css" | absURL }}'>
    <link rel="stylesheet" href='{{ "/css/tachyons.min.css" | absURL }}'>
    <link
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap"
        rel="stylesheet">
    
        <Style>

            hr{
                width: 50%;
                margin-top: 2em;
                margin-bottom: 1em;
            }

        </Style>
</head>