{{ define "main" }}
    <div class="tc pv2 pv5-ns">
        <h1 class="fw7 pa0-ns f2-ns f3 ttc">{{ .Title }}</h1>
        <h1 class="fw4 pa0-ns f4-ns f5 i black-70">{{ .Summary }}</h1>

        {{ $sections := split .Content "+++" }}
        
        <div class=" f4-ns f5 pa2 lh-copy measure-wide center w-100">
            {{ index $sections 0 | safeHTML }}
        </div>

        <div class="flex-ns items-center justify-center-ns w-100">
                {{ range $.Params.resources }}
                <div class="flex-column">
                    <a class="f5 link dim br3 mb2 dib white bg-orange mv3-l mv2 mh4 pa4-ns pv3 w-75 w5-ns" href="{{ .link }}">{{ .title }}</a>
                </div>
                {{ end }}
        </div>

        <div>
            {{ index $sections 1 | safeHTML }}
        </div>
    </div>
    {{ index $sections 2  | safeHTML }}

    <div class="tl center f6 pa4 fw3 fw4-ns f5-ns measure-wide pv5-ns lh-copy-ns ph2-ns">
            {{ index $sections 3  | safeHTML }}
    </div>
{{ end }}