<!-- contact forum starts here -->
<form class="mv5" action="mailto:hello@datacommons.nz" method="POST" enctype="text/plain">

    <!-- Message & Subject and Name-->
    <div class="flex flex-column justify center w-50">
        <div class="flex">
            <input class="pa3 ma3 w-50" type="text" placeholder="Full name" name="fname">
            <input class="pa3 ma3 w-50" type="text" placeholder="Last name" name="lname">
        </div>
        <input class="pa3 ma3" type="email" placeholder="Email" name="email" id="email">
        <input class="pa3 ma3" type="text" placeholder="Subject" name="subject">
        <textarea class="pa3 ma3" name="body" placeholder="Your Message" id="body" style="height:170px"></textarea>
        <!-- Submit button -->
        <input class="f4 fw2 link dim br2 pa3 mv3  ml3 white bg-black w-20 tc" type="submit" value="Submit">
    </div>
</form>