<!-- contact forum starts here -->
<form class="mv5" action="https://formspree.io/maydoeyv" method="post" role="form">

    <!-- Message & Subject and Name-->
    <div class="flex flex-column justify center w-50">
        <div class="flex">
            <input class="pa3 ma3 w-50" type="text" placeholder="First name" name="name" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
            <input class="pa3 ma3 w-50" type="text" placeholder="Last name" name="name" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
        </div>
        <input class="pa3 ma3" type="email" placeholder="Email" name="_replyto" id="email" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
        <input class="pa3 ma3" type="text" placeholder="Subject" name="subject">
        <textarea class="pa3 ma3" name="message" placeholder="Your Message" id="body" style="height:170px" placeholder="Message for me *" required="required" data-error="Please, leave us a message."></textarea>
        <!-- Submit button -->
        <input class="f4 fw2 link dim br2 pa3 mv3  ml3 white bg-black w-20 tc" type="submit" value="send">
    </div>
</form>